* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}



header {
    background-color: #185adb;
    color: #fff;
    padding: 16px 0;
    border-top: 10px solid #fff;
    border-radius: 20px 20px 0 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

header h1 {
    font-style: italic;
    font-size: 24px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 15px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

h2 {
    color: #185adb;
    font-style: italic;
    border-bottom: 1px solid #185adb;
    padding-bottom: 8px;
    margin-bottom: 20px;
    font-size: 18px;
}

.produtos-grid {
    display: grid;
    gap: 20px;
}

.produto-item img {
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px;
    justify-content: center;
}

.produto-item h3 {
    font-size: 16px;
    margin: 10px 0;
}

.produto-item p {
    font-size: 12px;
    margin-bottom: 10px;
    color: #555;
}

.produto-item button {
    width: 100%;
    background-color: #185adb;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
}

@media (max-width: 640px) {
    .main-content {
        padding: 15px;
    }
    
    .sobre img {
        width: 100%;
        margin-bottom: 15px;
    }
    
    .produtos-grid {
        grid-template-columns: 1fr; /* 1 produto por linha */
    }
}

@media (min-width: 641px) and (max-width: 1023px) {
    .main-content {
        display: flex; /* Coloca as seções lado a lado */
        gap: 20px;
        padding: 20px;
    }

    .sobre, .produtos-lista {
        flex: 1; /* Divide o espaço igualmente */
    }

    .produtos-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 produtos por linha */
    }
}

@media (min-width: 1024px) {
    .main-content {
        padding: 40px 0;
    }

    .sobre {
        display: flex;
        gap: 40px;
        margin-bottom: 40px;
    }

    .sobre img {
        width: 45%;
    }

    .produtos-grid {
        grid-template-columns: repeat(4, 1fr); /* 4 produtos por linha */
    }
}